<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs'); %>

    <title><%= title %></title>
</head>
<body>

    <%- include('../partials/nav.ejs') %>
    <div class="container">
        <h1>we are in express from about</h1>

    </div>
</body>
</html>