<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs'); %>
    <title><%= title %></title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class="container">
            <h1>we are in express from index</h1>
            <a href="/download">download file</a>
    </div>

</body>
</html>